# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Dependencies
node_modules

# Build outputs
dist
dist-ssr

# Local environment files
.env
.env.*
*.env
!.env.example

# Editor settings
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

client_secret_2_1000665746902-iaknn1e7c12vhmpb416f2o916m0oerf0.apps.googleusercontent.com.json